<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script>
	window.onload = () => {
		document.querySelectorAll('.btn_delete').forEach(item => {
			item.onclick = () => {
				const eno = event.target.closest('ul').querySelector('a span').textContent;
	            /* alert(eno); */
				fetch("/employee/delete/"+eno,{
					method : "DELETE"
				}).then(response => response.text())
				.then(result => {
					alert(result);
					location.reload();
				}); 
				
			}
		})

		document.querySelectorAll('.btn_update').forEach(item => {
			item.onclick = () => {
				const eno = event.target.closest('ul').querySelector('a span').textContent;
				/* alert(eno); */
				fetch("/employee/update/"+eno,{
					method : "POST"
				}).then(response => response.text())
				.then(result => {
					alert(result);
				});
			}
		});
	}
</script>

</head>
<body>
	<!-- 조건문 -->
	<th:block th:if="${session.user != null && (session.user.department != '인사' || session.user.positionNo < 3)}">
		<script>
			alert('접근 권한이 없습니다.');
			location.href = '/';
		</script>
	</th:block>

	<th:block th:include="/fragments/header.html"></th:block>
  	<div id="employee_list">
  		<ul class="employee-header">
  			<li>사원번호</li>
  			<li>이름</li>
  			<li>부서</li>
  			<li>직급번호</li>
  			<li>연봉</li>
  			<li>추가작업</li>
  		</ul>
  		<ul class="employee-details" th:each="employee : ${list}">
  			<li><a th:href="@{/employee/{eno}(eno=${employee.eno})}"><span>[[${employee.eno}]]</span></a></li>
  			<!--링크 속성값 http://localhost:9999/member/en6842 -->
  			<li><input type="text" th:value="${employee.name}"/></li>
			<li><input type="text" th:value="${employee.department}"/></li>
			<li><input type="text" th:value="${employee.positionNo}"/></li>
			<li><input type="text" th:value="${employee.salary}"/></li>
  			<li><button class="btn_update">수정</button><button class="btn_delete">삭제</button></li>
  		</ul>
  	</div>
</body>
</html>
