<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:include="/fragments/header.html"></th:block>
  	<div id="position_list">
  		<ul class="position-header">
  			<li>직급번호</li>
  			<li>직급명</li>
  		</ul>
  		<ul class="position-details">
  			<li><input type="number" class="positionNo"/></li>
			<li><input type="text" class="positionName"/></li>
  			<li><button class="btn_update">수정</button><button class="btn_delete">삭제</button></li>
  		</ul>
  	</div>
</body>
</html>