<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thym.mapper.EmployeeMapper">

<resultMap type="com.thym.dto.EmployeeDTO" id="employee">
	<id column="ENO" property="eno" />
	<result column="NAME" property="name" />
	<result column="DEPARTMENT" property="department" />
	<result column="POSITION_NO" property="positionNo" />
	<result column="SALARY" property="salary" />
</resultMap>

<select id="selectAllEmployee" resultMap="employee">
	SELECT * FROM EMPLOYEE
</select>
</mapper>


