<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thym.mapper.PositionMapper">

	<resultMap type="com.thym.dto.PositionDTO" id="position">
		<id column="POSITION_NO" property="positionNo" />
		<result column="POSITION_NAME" property="positionName" />
	</resultMap>
	
	<select id="selectAllPosition" resultMap="position">
		select * from position_list
	</select>
	
	<update id="updatePosition" parameterType="position">
		update position_list set 
		position_name = #{positionName}
		where position_no like #{positionNo}
	</update>
	
</mapper>